.App {
  text-align: center;
}

table {
  border-spacing: 10px 3px;
}

input {
  background-color: white;
  height: 20px;
  width: 120px;
}

#submitBtn {
  height: 26px;
  background-color: white;
  width: 120px;
}

.removeBtn {
  background-color: white;
  border-radius: 50%;
}

.clockBlock {
  margin-left: 10px;
  width: 150px;
}

.title {
  font-weight: bold;
  margin-left: 3px;
}

.time {
  width: 80px;
  border: none;
  font-size: large;
}